<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>314652533280-5vqs35m4vc4gti0999o2rh796joke8eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314652533280-5vqs35m4vc4gti0999o2rh796joke8eu</string>
	<key>API_KEY</key>
	<string>AIzaSyBwkwaZ72nkuG86juLqR-DNa2EQMCJ8RiM</string>
	<key>GCM_SENDER_ID</key>
	<string>314652533280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codnyx.ttravel</string>
	<key>PROJECT_ID</key>
	<string>ttravel-1fe31</string>
	<key>STORAGE_BUCKET</key>
	<string>ttravel-1fe31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314652533280:ios:f220472472a91e09</string>
	<key>DATABASE_URL</key>
	<string>https://ttravel-1fe31.firebaseio.com</string>
</dict>
</plist>